<!doctype html>
   <html>
     <head>
       <title>Fiche de présence</title>
     </head>
     <body>
        <h1>Menu</h1>
        <h2>Welcome {{ s['username'] }} / {{ s['statut'] }}  !!!</h2>
        <a href="/{{ s['statut'] }}/fiche" > Créer Fiche</a><br>
        <a href="/{{ s['statut'] }}/stats" > Liste Fiche</a>
     </body>
</html>
