{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="/ens/fiche">
                <div class="form-group">
                    <label for="exampleInputEmail1">date</label>
                    <input type="text" class="form-control" name="dd" placeholder="YYYY-MM-dd">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">heure début</label>
                    <input type="text" class="form-control" name="hh" placeholder="HH:mm">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">duree</label>
                    <select name="duree">
                        <option value="" disabled="disabled" selected="selected">duree</option>
                         <option value="60">1h</option>
                         <option value="90">1h30</option>
                         <option value="120">2h</option>
                         <option value="150">2h30</option>
                         <option value="180">3h</option>
                         <option value="210">3h30</option>
                         <option value="240">4h</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">module</label>
                    <select name="module">
                        <option value="" disabled="disabled" selected="selected">module</option>
                         <option value="M2101">M2101</option>
                         <option value="M2102">M2102</option>
                         <option value="M2103">M2103</option>
                         <option value="M2104">M2104</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">promo</label>
                    <select name="promo">
                        <option value="" disabled="disabled" selected="selected">promo</option>
                         <option value="RT1">RT1</option>
                         <option value="RT2">RT2</option>
                         <option value="LP">LP</option>
                         <option value="none">none</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">groupe</label>
                    <select name="groupe">
                        <option value="" disabled="disabled" selected="selected">td</option>
                         <option value="cm">tous</option>
                         <option value="TD1">TD1</option>
                         <option value="TD2">TD2</option>
                         <option value="TD3">TD3</option>
                         <option value="TP1">TP1</option>
                         <option value="TP2">TP2</option>
                         <option value="TP3">TP3</option>
                         <option value="none">none</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">create</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}
