<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
{{ s['date'] }}
{{ s['hh'] }}
{{ s['duree'] }}
{{ s['nbduree'] }}

<form method=POST action="/save">
{% for stu in u %}
{{  stu['nom'] }}
<input type="hidden" name="name" value="{{  stu['name'] }}">
<input type="hidden" name="nom" value="{{  stu['nom'] }}">
<input type="hidden" name="prenom" value="{{  stu['prenom'] }}">
{% for i in range(s['nbduree']) %}
<input type="checkbox" name="{{ stu['name'] }}" value="1">
{% endfor %}
<br>
{% endfor %}
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>
