<!doctype html>
   <html>
     <head>
       <title>Live FeedBack</title>
     </head>
     <body>
        <h1>{{ s }}</h1>
        <h2>Welcome to the Live FeedBack System</h2>
        <form action="/{{ s }}">
            <input type="text" name="fname">
            <input type="submit" value="Submit">
        </form>
     </body>
</html>
