{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username ou num</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" class="form-control" name="nom" placeholder="nom">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">prenom</label>
                    <input type="text" class="form-control" name="prenom" placeholder="prenom">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Statut</label>
                    <select name="statut">
                        <option value="" disabled="disabled" selected="selected">Statut</option>
                         <option value="ens">Enseignant</option>
                         <option value="etu">Etudiant</option>
                         <option value="adm">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">cm</label>
                    <select name="cm">
                        <option value="cm" selected="selected">cm</option>
                         <option value="none">none</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">td</label>
                    <select name="td">
                        <option value="" disabled="disabled" selected="selected">td</option>
                         <option value="TD1">TD1</option>
                         <option value="TD2">TD2</option>
                         <option value="TD3">TD3</option>
                         <option value="none">none</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">tp</label>
                    <select name="tp">
                        <option value="" disabled="disabled" selected="selected">tp</option>
                         <option value="TP1">TP1</option>
                         <option value="TP2">TP2</option>
                         <option value="TP3">TP3</option>
                         <option value="none">none</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">promo</label>
                    <select name="promo">
                        <option value="" disabled="disabled" selected="selected">promo</option>
                         <option value="RT1">RT1</option>
                         <option value="RT2">RT2</option>
                         <option value="LP">LP</option>
                         <option value="none">none</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}
