{{ s['username']}} / {{ s['statut']}}
<br>
{% for i in f%}
<form method=POST action="/{{ s['statut']}}/edit">
    <a href="/{{ s['statut']}}/stats/{{ i['module'] }}">{{ i['module'] }}</a>
    {{ i['groupe'] }}
    {{ i['date'] }}
    {{ i['hh'] }}
    <input type='hidden' name='fid' value="{{ i['fid'] }}">
    <input type='text' name='module' value="{{ i['module'] }}">
    <input type='text' name='groupe' value="{{ i['groupe'] }}">
    <select name="duree">
        <option value="{{ i['duree'] }}" selected="selected">{{ i['duree'] }}</option>
        <option value="60">1h</option>
        <option value="90">1h30</option>
        <option value="120">2h</option>
        <option value="150">2h30</option>
        <option value="180">3h</option>
        <option value="210">3h30</option>
        <option value="240">4h</option>
    </select>
    <input type='text' name='date' value="{{ i['date'] }}">
    <input type='text' name='hh' value="{{ i['hh'] }}">
    <input type='submit' name="action" value="edit">
    <input type='submit' name="action" value="delete">
    <input type='submit' name="action" value="update">
</form >
{% endfor %}
<br>
