{{ s['username']}} / {{ s['statut']}}
<br>
{% for i in f%}
    <form method='POST' action="/{{ s['statut']}}/update">
    {{ i['nom'] }} /
    {{ i['prenom'] }} /
    {{ i['module'] }} /
    {{ i['groupe'] }} /
    {{ i['date'] }} /
    {{ i['hh'] }} /
    {{ i['duree'] }} /
    <select name="pres">
        <option value="{{ i['pres'] }}" selected="selected">{{ i['pres'] }}</option>
        {% for n in range(15,i['duree'] + 15,15) %}
        <option value="{{ n }}">{{ n }}</option>
        {% endfor%}
    </select>
    {{ i['excuse'] }} /
    excuse:
    <select name="excuse">
        <option value="{{ i['excuse'] }}" selected="selected">{{ i['excuse'] }}</option>
        <option value="non">non</option>
        <option value="oui">oui</option>
    </select>
    <input type='hidden' name='id' value="{{ i['id'] }}">
    <input type='submit' name="action" value="update">
    </form>
<br>
{% endfor%}
